<div class="mx-auto lg:mx-0">
    <div class="bg-white border border-gray-200 rounded-lg shadow-2xl dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-center">
            <img class="max-w-sm max-h-sm object-contain p-5 rounded-t-lg" [src]="imageSrc" alt="Imagen descriptiva del card" />
        </div>
        <div class="p-5">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Pulsa el botón para adjuntar el logotipo, se admiten imagenes en formato .png, o .jpg y genera la paleta de colores
            </p>
            <input 
                (change)="onFileSelected($event)"
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" 
                id="file_input" 
                type="file">
        </div>
    </div>
</div>
